@import "tailwindcss";


:root {
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

.bg-primary { background-color: var(--primary); }
.text-primary { color: var(--primary); }

.bg-background-light { background-color: var(--background-light); }
.bg-background-dark { background-color: var(--background-dark); }

.rounded-default { border-radius: var(--radius-default); }
.rounded-lg { border-radius: var(--radius-lg); }
.rounded-xl { border-radius: var(--radius-xl); }
